<html>
<head>
	<title>Uber non-emergency</title>
</head>
<body>
	<h1>Login with Uber<h1>
	<button>Login</button>
	<form action='/auth/:uber/callback' method="get">
		<input type = "submit">
	</form>
</body>
</html>